
    <form class="task-form" action="/index/edit/<%=task.id%>?_method=PUT" method="POST">
        <div class="task-form-header">
          <label class="task-form-label for="header">Task Name</label>
          <input class="task-form-text" type="text" name="header" id="header" value="<%=task.header %>" required>
        </div>
      
        <div class="task-form-description">
          <label  class="task-form-label" for="description">Description</label>
          <textarea class="task-form-description-textarea" name="description" maxlength="140" height="100px" id="description" required>
              <%=task.description%>
          </textarea>
        </div>
        <div class="submit-btn">
        
        <button class="submit-btn-inside" type="submit">Change</button>
        </div>
      </form>



   