
<form action="/index" method="post">
  <div>
    <label for="header">Task Name</label>
    <input type="text" name="header" id="header" required>
  </div>
<br>
  <div>
    <label for="description">Description</label>
    <textarea name="description" maxlength="140" height="100px" id="description" required>limit 140 Characters..</textarea>
  </div>
  <br>
  <button type="submit">Add</button>
</form>

<% if(tasks[0]!=null){tasks.forEach( task=> { %>
 <a href='/index/edit/<%=task.id%>'> <div><%= task.header %></div></a><br>
  <div><%= task.description %></div>
  <%-include("./partials/deleteForm",
  {url: `/${task.id}`}) %>
  <% })} %>